*
{
  margin: 0px;
  background-color: #01032C;
}

.usuario{
  background-color: #01032C;
  color: yellow;
  position: absolute;
  padding: 0.7vw;
  padding-left: 2vw;
  padding-right: 2vw;
  border-radius: 12px;
  list-style: none;
  text-decoration: none;
  float: right;
  overflow: hidden;
  top: 20vw;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 0px 10px 10px #5caeea;
  left: 8vw;
}


.logo
{
  
  width: 23vw;
  position: absolute;
  left: 36vw;
  z-index: 1;
  background-color: transparent;
}

.plato{
  position: absolute;
  z-index: -1;
  width: 100%;
  top: -12vh;
  height: 33vw;
}
#encabezado{
  /*margin-top: 38px;*/
}
#menu
{
  padding:0.5vw;
  /*overflow: hidden;*/
  position: absolute;
  top:27vw;
  transition: all 0.5s;
  border-top: solid 1vh #0321BA;
  border-bottom: solid 1vh #0321BA;
  height: 5vw;
  width: 100vw;
}


#menu  ul
{
  list-style-type: none;
  float: left;
}

#menu > ul > li
{
  float:right;
  font-size: 2vw;
  padding-left: 10vw;
  margin: 1vw;
}

#menu > ul > li > a
{
  display: inline-block;
  padding: 0.3vw;
text-decoration: none;
margin-left: 1vw;
font-size: 1.8vw;
}

#menu > ul > li a:hover
{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transition: all 0.4s;
}


#ini > a
{
  background: #312F73;
  border-radius: 5px;
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  z-index: 2;
  padding: 6px;
}
#ini{
  width: 155px;
  height: 79px;
  float: inline-end;
  position: absolute;
  top: -181px;
}
#ini >.usuario{
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

