
h2{
  color: white;
  position: relative;
  top: -7vw;
  font-size: 4vw;
  margin: 0;
  text-align: center;
  background-color: #312F73;
  width: 77vw;
  padding: 1vw;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  }

  #cuerpo{
    position: absolute;
    padding-left: 9vw;
    top: 43vw;
    height: 1100px;
  }
  table{
    color: white;
    top: 17px;
    position: relative;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;
    font-size: 0.7vw;
  }
  .barra th{
    background-color: #312F73;

  }
  .par td, .par th{
    text-align: center;
    background-color: #232348;
  }


  th, td{
    padding: 25px;
    text-align: center;
  }
  /*  table td:hover{
    font-size: 12px;
  transition: all 0.8s;
  box-shadow: 0px 0px 10px 10px #5caeea;
  }*/

h3{
  color: white;
  text-align: center;
  width: 148px;
  padding-bottom: 0px;
 padding-top: 20px;
}
h1{
    color: white;   
}
label{
    color: white;
}
h4{
 padding: 5px;
 border-bottom: solid 8px #312F73;
}
#groupChecks{
   
  width: 16vw;
  height: 36vw;
  color: white;
  font-size: 1.2vw;
}

#preguntas{
  position: relative;
  top: -37vw;
  margin-left: 18vw;
  width: 67%;
}
input{
    background-color: white;
}
#elementosFiltro input{
    width: 80%;
}

button{
    background-color: white;
    font-size: 1.2vw;
}

.boton{
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  color: white;
  position: relative;
  padding: 10px;
  background-color: #312F73;
  opacity: 0.9;
  border-radius: 5px;
  font-size: 1.2vw;
}

.dialog-ovelay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.50);
  z-index: 999999;
  width: 884px;
}
.dialog-ovelay .dialog {
  width: 400px;
  margin: 100px auto 0;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,.2);
  border-radius: 3px;
  overflow: hidden
}
.dialog-ovelay .dialog header {
  padding: 10px 8px;
  background-color: #f6f7f9;
  border-bottom: 1px solid #e5e5e5
}
.dialog-ovelay .dialog header h5 {
  font-size: 14px;
  margin: 0;
  color: black;
  display: inline-block;
  background-color: #f6f7f9;
}
.dialog-ovelay .dialog header .fa-close {
  float: right;
  color: #c4c5c7;
  cursor: pointer;
  transition: all .5s ease;
  padding: 0 2px;
  border-radius: 1px    
}
.dialog-ovelay .dialog header .fa-close:hover {
  color: #b9b9b9
}
.dialog-ovelay .dialog header .fa-close:active {
  box-shadow: 0 0 5px #673AB7;
  color: #a2a2a2
}
.dialog-ovelay .dialog .dialog-msg {
  padding: 12px 10px;
  background-color: #f6f7f9;
}
.dialog-ovelay .dialog .dialog-msg p{
  margin: 0;
  font-size: 15px;
  color: #333;
  background-color: #f6f7f9;
}
.dialog-ovelay .dialog footer {
  border-top: 1px solid #e5e5e5;
  padding: 8px 10px;
  background-color: #f6f7f9;
}
.dialog-ovelay .dialog footer .controls {
  direction: rtl;
  background-color: #f6f7f9;
}
.dialog-ovelay .dialog footer .controls .button {
  padding: 5px 15px;
  border-radius: 3px
}
.button {
cursor: pointer
}
.button-default {
  background-color: rgb(222, 67, 67);
  border: 1px solid rgba(204, 204, 204, 0.5);
  color: white;
}
.button-danger {
  background-color: #1a2bb6;
  border: 1px solid #2f9dd3;
  color: #f5f5f5
}
.cancelar {
  background-color: #e9e9e9;
  border: 1px solid #bec4c7;
  color: black;
}
.link {
padding: 5px 10px;
cursor: pointer
}

.ID{
  cursor: pointer;
}
.ID:hover{
  font-size: 15px;
  transition: all 0.8s; 
}

.tooltip {
  position: relative;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  z-index: 2;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  font-size: 12px;
  transition: all 0.8s;
  box-shadow: 0px 0px 10px 10px #5caeea;
}

span .tooltiptext{
  z-index: 2;
}

.ir-arriba {
	display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

#asig{
  background-color: white;
}